{
  "extends": "eslint:recommended",
  "rules": {
    "no-unused-vars": ["error", {"varsIgnorePattern": "rules|ritsu|validation"}],
    "quotes": ["error", "single"],
    "semi": ["error","always"],
    "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
    "no-new-wrappers": "error",
    "radix": ["error", "always"],
    "no-restricted-globals": ["error", "isNaN", "isFinite"]
  },
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "rules": true,
    "validation": true,
    "ritsu": true,
    "core": true
  }

}
